* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #1E2430;
  color: #D0E1EB;  
  font-family: 'Lato', sans-serif
}

.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 400px;
}

.content {
  background-color: #313A49;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.advice-id {
  color: #54FCAF;
}
